<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../마이페이지css/change_complete.css">
    <title>회원정보수정완료 팝업</title>
</head>
<body>
    <div class="pop_up">
        <div class="close">
            <img src="../Union.png" alt="x">
        </div>
            <h2 class="text">회원정보 수정이 완료되었습니다</h2>

        <input type="button" class="complete" value="확인">
    </div>

    <!-- onclick='location.href'=login.html' -->
</body>
</html>